<h1>Preferences</h1>

<% form_for(@user) do |f| %>
<div>
  <%= f.error_messages %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
	<div>
		<%= f.label :per_page %>
		<%= f.text_field :per_page %>
	</div>
  <%= f.submit "Update" %>
</div>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
