<% @stylesheet = "index" %>
<h1>Listing photos</h1>
<% for photo in @photos %>
  <div class = "row"

    <div class="pic">
	    <%= link_to image_tag( photo_root_directory + "/" + photo.image_dir + "/thumbs/" + photo.image_url ), photo %>
    </div>
    <div class="description">
		  <% if session[:user_id] %>
	  	  <div class="links">
		      <ul>
				    <li><%= link_to 'Edit', edit_photo_path(photo) %></li>
					  <li><%= link_to 'Destroy', photo, :confirm => 'Are you sure?', :method => :delete %></li>
				  </ul>
	  	  </div>
	    <% end %>
			<ul>
	    	<li><%=h photo.description %></li>
				<li><%= photo.exifdate.strftime("%b %Y") %></li>
				<li><%= photo.exif.aperture %></li>
				<li><%= photo.exif.shutterspeed %></li>
				<li><%= photo.exif.iso %></li>
      </ul>
    </div>
  </div>

<% end %>
<%= will_paginate @photos %>

