<% @stylesheet = "show" %>
<div class="large_image">
  <%= image_tag( photo_root_directory + "/" + @photo.image_dir + "/" + @photo.image_url )%>
</div>
<% if session[:user_id] %>
  <%= link_to 'Edit', edit_photo_path(@photo) %> 
<% end %>
<div class="image_info">
	<ul>
	  <li><%= @photo.date.strftime("%b %Y") %></li>	  
	  <li>ISO: <%= @photo.iso %></li>
	  <li>Shutter: <%= @photo.shutterspeed %></li>
	  <li>Aperture: <%= @photo.aperture %></li>
	  <li>Focal Length: <%= @photo.focallength %></li>
  </ul>
  <p>Description: <%=h @photo.description %></p>
</div>