<p>
  <b>Title:</b>
  <%=h @photo.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @photo.description %>
</p>

<p>
  <b>Image url:</b>
  <%=h @photo.image_dir + "/" + @photo.image_url %>
</p>

<a href="<%="/images/photos/" + @photo.image_dir + "/" + @photo.image_url %>"> <%= image_tag("/images/photos/" + @photo.image_dir + "/thumbs/" + @photo.image_url, :alt => @photo.description)  %></a>
<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
